body{
    background-color: #FFFFFF;
    font-family: 'MyFont', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider_hero{
    .slider_home{
        height: calc(100vh - 188px) !important;
        @media screen and (max-width: 1000px) {
            height: 280px !important;
        }
        .sliderone{
            height: calc(100vh - 168px) !important;
            @media screen and (max-width: 1000px) {
                height: 280px !important;
            }
            background: url('/images/slideone.jpg') no-repeat center center;
            background-size: cover;
            width: 100%;
        }
        .slidertwo{
            width: 100%;
            height: calc(100vh - 168px) !important;
            @media screen and (max-width: 1000px) {
                height: 280px !important;
            }
            background: url('/images/slidetwo.jpg') no-repeat center center;
            background-size: cover;
        }
    }
    .header_slider{
        font-family: "GFS Didot", serif;
    }
    .swiper-slide{
        margin-right: 0px !important;
        height: calc(100vh - 168px) !important;
        @media screen and (max-width: 1000px) {
            height: 280px !important;
        }
        width: 100% !important;
    }
    .swiper-pagination-bullet{
        background: url('/images/paginationinactive.svg') no-repeat center center !important;
        width: 16px !important;
        height: 16px !important;
        opacity: 0.9 !important;
    }
    .swiper-pagination-bullet-active{
        background: url('/images/paginationactive.svg') no-repeat center center !important;
        width: 32px !important;
        height: 32px !important;
        opacity: 1 !important;
    }
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.slider_featured{
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        height: 100% !important;
    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    
    .swiper-button-prev {
        background-image: url('/images/prev.svg'); 
    }
    
    .swiper-button-next {
        background-image: url('/images/next.svg');
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }    
}
.featured_brands{
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        height: 384px !important;
        @media screen and (max-width: 1000px) {
            height: 290px !important;
            width: 230px !important;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    
    .swiper-button-prev {
        background-image: url('/images/prev.svg'); 
    }
    
    .swiper-button-next {
        background-image: url('/images/next.svg');
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }    
}
.slider_arrivals{
    display: flex;
    align-items: center;
    .transition-all{
        transition-duration: 1500ms !important;
    }
    .swiper-wrapper{
        display: flex !important;
        align-items: center !important;
    }
    .swiper{
        display: flex !important;
        align-items: center !important;
    }
    .swiper-pagination{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        width: 315px !important;
        @media screen and (max-width: 1000px) {
            width: 290px !important;
        }
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-button-prev, .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
    }
    
    .swiper-button-prev {
        background-image: url('/images/prev.svg'); 
    }
    
    .swiper-button-next {
        background-image: url('/images/next.svg');
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        display: none;
    }
    .swiper-pagination-bullet{
        background: url('/images/paginationinactive.svg') no-repeat center center !important;
        width: 16px !important;
        height: 16px !important;
        opacity: 0.9 !important;
    }
    .swiper-pagination-bullet-active{
        background: url('/images/paginationactive.svg') no-repeat center center !important;
        width: 32px !important;
        height: 32px !important;
        opacity: 1 !important;
    }    
}
.price{
    font-family: "Oswald", serif;
}
.new_arrivals_img{
    height: calc(100% - 60px) !important;
}
.slide-in-slide{
    display: flex !important;
    gap: 12px;
}
.h_content{
    height: fit-content;
}
.w_content{
    width: fit-content;
}
/* Scrollbar width */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #141511;
    border-radius: 2px;
}

/* Hover effect on scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #0f0f0e;
}

.login {
    overflow-y: auto; /* Enables scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

/* Hides scrollbar in Webkit browsers (Chrome, Safari) */
.login::-webkit-scrollbar {
    display: none;
}
.flag-container{
    width: 85px !important;
}
.product-list-swiper{
    .swiper-slide{
        height: 111px !important;
    }
    .swiper-slide:last-child{
        margin-bottom: 0px !important;
    }
}
.shadow-lang{
    box-shadow: 0px 10px 22px 0px #2D4D6C26;
}
.upsell .swiper-slide.swiper-slide-active{
    @media screen and (max-width: 1000px) {
        width: fit-content !important;
    }
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}  
.px150{
    height: 150px !important;
}
@keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slide-in 0.5s ease-out;
  }
  @keyframes slide-out {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-out {
    animation: slide-out 0.3s ease-in forwards;
  }
  .spinner {
    width: 35px;
    height: 35px;
    animation: rotate 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
.cursor-not-allowed{
    cursor: not-allowed !important;
}
.w-100important{
    width: 100px !important;
}
.order2{
    @media screen and (max-width: 1200px) {
        order: 2 !important;
    }
}
.order1{
    @media screen and (max-width: 1200px) {
        order: 1 !important;
    }
}
.order3{
    @media screen and (max-width: 1200px) {
        order: 3 !important;
    }
}
.cursor-not-allowed{
    cursor: not-allowed !important;
}